@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body {
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.controls {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.counter {
    display: flex;
    gap: 8px;
}

.game {
    position: relative;

    width: 400px;
    aspect-ratio: 1 / 1;
    margin: auto;
    font-size: 32px;
}

.overlay {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/ 1;
    border-radius: 2.5%;
    background: rgba(128, 128, 128, 0.75);
    transform: translate(-1000%);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.row {
    display: flex;
}

.box {
    width: 4em;
    aspect-ratio: 1 / 1;
    background-color: #cdc1b4;
    border: 2.5px solid #6e6963;
    transition-delay: 0.01s;
    line-height: 2.75em;
    font-family: "Courier";
    font-weight: 1000;
}

.box11 {
    border-radius: 12% 0 0 0;
}

.box14 {
    border-radius: 0 12% 0 0;
}

.box44 {
    border-radius: 0 0 12% 0;
}

.box41 {
    border-radius: 0 0 0 12%;
}

.done {
    width: 400px;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
