@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body {
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.controls {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.counter {
    display: flex;
    gap: 8px;
}

.game {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    font-size: 60px;
}

.overlay {
    position: absolute;
    width: 400px;
    height: 255px;
    border-radius: 2.5%;
    background: gray;
    opacity: 0.6;
    padding-top: 40%;

    transform: translate(-1000%);
}

.row {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    border: 2.5px solid #6e6963;
    transition-delay: 0.01s;
}

.box11 {
    border-radius: 12% 0 0 0;
}

.box14 {
    border-radius: 0 12% 0 0;
}

.box44 {
    border-radius: 0 0 12% 0;
}

.box41 {
    border-radius: 0 0 0 12%;
}

.done {
    width: 400px;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
