.game {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    transform: translate(0, 25%);
    background: black;
}

.row {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    background-color: #ead4b0;
    border: 2px solid #3f2a08;
}